body {
  height: 100vh;
  background: radial-gradient(
    at center center,
    rgb(111, 3, 193),
    rgb(99, 102, 241)
  );
}

#root {
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  display: flex;
  gap: 2rem;
}

input {
  padding: 10px;
  font-size: 1.5rem;
}

select {
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  font-size: 3rem;

  color: white;
}